/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-family: 'Inter Tight', sans-serif;
    ;
    --main-color: rgb(10, 163, 186);
    --body-background: #0079ff;
    --block-background: red;
    --text-color: #313131;
}

body {
    font-family: var(--main-font-family);
    color: var(--text-color);
    background-color: var(--body-background);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Global style for links */
a {
    text-decoration: none;
    color: inherit;
}

/* General classes */
.main-background {
    background-color: var(--main-color);
}

/* Flex classes */
.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}


/* Content style */
#content {
    height: 100vh;
}

/* STYLE FOR index.html */
/* logo style */
#logo-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 50px;
}

#logo {
    text-align: center;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 800;
    padding-bottom: 4px;
}

/* Options style */
#options {
    padding-bottom: 30px;
    width: 100%;
    background-color: var(--block-background);
}

.option-item {
    font-weight: 700;
    font-size: 17px;
    height: 40px;
    width: 130px;
    border-radius: 25px;
    margin-top: 30px;
}