/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-family: 'Inter Tight', sans-serif;
    --element-off: rgb(140, 140, 140);
    --main-color: rgb(202, 204, 144);
    --main-color-transparent: rgba(202, 204, 144, 0.5);
    --body-background: rgb(244, 235, 190);
    --block-background: #d6d3f0;
    --run-button-color: rgba(188, 220, 30, 0.804);
    --text: rgb(9, 9, 9);
}

body {
    font-family: var(--main-font-family);
    color: var(--text);
    background-color: var(--body-background);
    overflow-x: hidden;
    height: 100dvh;
    font-size: 20px;
    font-weight: 700;
}
.wave {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
}

.wave .shape-fill {
    fill: var(--body-background);
}

.relative {
    position: relative;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Global style for links */
a {
    text-decoration: none;
    color: inherit;
}

/* General classes */
.main-background {
    background-color: var(--main-color);
}

.run-button {
    background-color: var(--run-button-color);
    height: 50px;
    cursor: pointer;
    border: none
}

/* Flex classes */
.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-stretch {
    align-items: stretch;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: start;
}


/* Content style */
#content {
    height: 100dvh;
}

/* STYLE FOR index.html */
/* logo style */
#logo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30dvh;
}

#logo {
    text-align: center;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 800;
    padding-bottom: 4px;
}

/* Options style */
#options {
    padding-bottom: 30px;
    width: 100%;
    background-color: var(--block-background);
    height: 250px
}

.option-item {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    margin-top: 30px;
}


/* STYLE FOR teams.html */
.team-container {
    padding: 20px;
}

.team-container:not(:last-child) {
    border-bottom: 2px solid var(--text);
}

#add-team {
    height: 60px;
    font-size: 25px;
    background-color: var(--main-color);
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.5);
}

#next {
    height: 70px;
    background-color: var(--block-background);
    box-shadow: 0px -3px 5px rgb(0, 0, 0, 0.5);
}


/* STYLE FOR setting.html */
.setting-container {
    border-bottom: 2px solid var(--text);
    padding: 20px 15px 20px 15px;
    box-shadow: inset 0px -2px 10px rgb(0, 0, 0, 0.3);
}

.setting-description {
    font-size: 15px;
    font-weight: 600;
    color: var(--element-off);
}

.setting-value {
    padding-top: 3px;
}

/* Style for range input */
.range-input {
    /* Removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    height: 5px;
    margin: 15px auto 15px auto;
    border-radius: 3px;
    max-width: 300px;
    outline: none;
    background: var(--text); 
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}

/* Style for checkbox input */

/* This class increases clickable area for checkbox input */
.checkbox-label {
   display: block;
   height: 25px;
   width: 30px;
   cursor: pointer;
   align-self: center;
   margin-right: 15px;
}

.checkbox-input {
    /* Remove default appearance */
    -webkit-appearance: none;
    appearance: none;

    outline: none;
    position: relative;
    height: 15px;
    width: 5px;
    margin-top: 5px;
    border-radius: 25px;
    cursor: pointer;    
    transition: 0.5s;
    background-color: var(--main-color-transparent);
}

.checkbox-input::before {
    /* Styles for circle in checkbox input element */
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--element-off);
    position: absolute;
    margin: auto;
    top: 0;
    left: -1px;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    transition: 0.5s;
    animation: shadow-grow 0.2s linear 0.3s;
}

/* Animation to change box-shadow */
@keyframes shadow-grow {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(224, 116, 226, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0px 0px 0px 5px rgba(224, 116, 226, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0px 0px 0px 0px rgba(224, 116, 226, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5);
    }
    
}
.checkbox-input:checked {
    width: 40px;
}

.checkbox-input:checked::before {
    background-color: var(--main-color);
    left: 18px;

    /* Disable animation when element is checked */
    animation: none
}


/* STYLE FOR categories.html */
.category-image {
    width: 70px;
    height: 70px;
}
.categories {
    height: 100%;
}
.category-container {
    
    width: 100%;
    padding: 15px;
    border-top: 2px solid var(--text);
    box-shadow: inset 0px -2px 10px rgb(0, 0, 0, 0.3);
}

.category-container > img {
    margin-left: 10%;
    margin-right: 5%;
}

.category-container:last-child {
    border-bottom: 2px solid var(--text);
}

.category-description{
    margin-top: 3px;
    font-size: 15px;
    font-weight: 600;
    color: var(--element-off);
}


/* STYLE FRO game.html */
/* before-round section */
.game-state {
    height: 100dvh;
}

#stat-container {
    background-color: var(--main-color);
    padding: 20px 20px 10px 20px;
}

/* round section */
#guessed-words, #missed-words {
    width: 100vw;
    padding: 10px 0;
}

#guessed-words {
    background-color: var(--main-color);
}

#missed-words {
    background-color: var(--element-off);
}

#control {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 800;
    position: relative;
}

#swipe-area {
    width: 100%;
    height: 100%;
}

#control.word-control {
    background-color: var(--main-color)
}

#who-guessed {
    display: none;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    border-radius: 10px;
}

#who-guessed div:first-child {
    padding: 15px 15px 10px 15px;
}

#who-guessed .team {
    font-weight: 600;
    padding: 10px 15px;
    
}

#who-guessed .team:not(:last-child) {
    border-bottom: 2px solid black
}


/* style after-round section */

.active {
    color: var(--main-color);
}